baseURL = 'https://faizshaikh.xyz/'
languageCode = 'en-us'
title = 'Faiz Blog'
theme = "PaperMod"

[pagination]
  pagerSize = 5

enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false

[params]
  env = "production"
  defaultTheme = "dark"
  disableThemeToggle = false
  ShowReadingTime = true
  ShowShareButtons = false
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = false
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = true
  tocopen = false
  favicon = "icons/logo.jpg"

  [params.assets]
    disableHLJS = true

  [params.analytics.google]
    SiteVerificationTag = "G-83CQP2BNGW"

[services]
  [services.googleAnalytics]
    ID = "G-83CQP2BNGW"

  [params.homeInfoParams]
    Title = "Faiz Blog"
    Content = "Welcome to my corner of the internet"

  [[params.socialIcons]]
    name = "github"
    url = "https://github.com/faizshaikh22"

  [[params.socialIcons]]
    name = "linkedin"
    url = "https://www.linkedin.com/in/faiz-shaikh-142936136/"

  [[params.socialIcons]]
    name = "email"
    url = "mailto:faiz.shaikh0600@gmail.com"

  [[params.socialIcons]]
    name = "x"
    url = "https://x.com/phase_shake"

  [[params.socialIcons]]
    name = "huggingface"
    url = "https://huggingface.co/phase-shake"

[params.cover]
  hidden = true
  hiddenInList = true
  hiddenInSingle = true

[params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1000
  threshold = 0.4
  minMatchCharLength = 0
  keys = ["title", "permalink", "summary", "content"]

[[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  identifier = "posts"
  name = "Posts"
  url = "/posts/"
  weight = 5

[[menu.main]]
  identifier = "archives"
  name = "Archives"
  url = "/archives/"
  weight = 10

[[menu.main]]
  identifier = "tags"
  name = "Tags"
  url = "/tags/"
  weight = 15

[[menu.main]]
  identifier = "search"
  name = "Search"
  url = "/search/"
  weight = 20

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = true
    hl_Lines = ""
    hl_inline = false
    lineAnchors = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = false
    noHl = false
    style = "dracula"
    tabWidth = 4

[outputs]
  home = ["HTML", "RSS", "JSON"]
