{{- /* GA4: emits gtag.js only when a GA ID is configured */ -}}
{{- $ga := "" -}}
{{- with site.Config.Services.GoogleAnalytics.ID -}}
  {{- $ga = . -}}
{{- else -}}
  {{- with site.GoogleAnalytics -}}
    {{- $ga = . -}}
  {{- end -}}
{{- end -}}

{{- if $ga -}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $ga }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $ga }}');
</script>
{{- end -}}


